
  .list-unstyled {
    margin: 0;
    padding: 0;

    li {
    font-size: 15px;
      margin-bottom: 12px;
      display: flex;
      align-items: flex-start;  
      gap: 8px;
       color: gray;
        font-family: Inter;
    
      .fa-solid {
        color: #f15a21;          
        margin:auto;       
      }
    }
  }
