#footer {
   

.list-unstyled{
    padding: 0;
    list-style: none;
    }
    li{
        justify-content: center;
    }
    a{
        text-decoration: none;
        font-family: Inter;
    line-height: 15px;
    font-size:small;
    color: gray;
    }
    h5{
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
    }
    i{
       margin: 5px;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 50%;
   }
}